[default]
static_tags = ["clips4sale.com"]
delayed_seed = true
use_hardlinks = true

[torrent]
temporary_directory = "/home/user/temp/"

[tracker]
upload_directory = "/home/user/uploads/"

[tracker.empornium]
announce_url = "http://tracker.empornium.sx:2710/YOURPASSKEY/announce"
source_tag = "Emp"
category = "Straight"

[client.qbittorrent]
use_api = true
url = "http://user:pass@127.0.0.1:8080"
category = "Upload"
watch_directory = "/home/user/uploads/_autoadd/"
