[default]
torrent_temp_dir = /home/user/qBittorrent/
qbittorrent_upload_dir = /home/user/qBittorrent/Uploads/
qbittorrent_watch_dir = /home/user/qBittorrent/Uploads/_autoadd/
static_tags = clips4sale.com
delayed_seed = True
use_hardlinks = True

[imagehost:chevereto]
api_key = chv_T_your_api_key_check_your_user_settings_after_logging_in
host = hamster.is

[client:qbittorrent]
use_api = true
url = http://user:pass@127.0.0.1:8080
category = Upload

[tracker:empornium]
announce_url = http://tracker.empornium.sx:2710/YOURPASSKEY/announce
source_tag = Emp
category = Straight
